html {
    font:1em/1.5 "Helvetica", sans-serif;

    color:rgb(51, 51, 51);
}

body {
    padding-top:24px;
}

.wrapper {
    width:960px;
    margin:0 auto;
}

.word {
    font-family:"Courier New";
    font-size:13px;
}

.text-input--full {
    width:100%;
}

.secret-list {
    list-style:none;
    padding:0;
    margin:0;
}

.chat {
    border:1px solid gray;
    height:20em;
    overflow:hidden;
    position:relative;
    margin-bottom:1em;
}

.chat__container {
    position:absolute;
    width:100%;
    bottom:0;
}

.chat__author {
    font-weight:bold;
}

.chat__author::after {
    content:":";
}

.chat__message {
    padding:0.1em;
}

.chat__message--invert {
    background:#ccc;
}

.player-list__list > li {
    display:inline-block;
}

.player-list__avatar {
    margin-right:0.25em;
}
