<div ng-show="game" class=gw>
    <div class="g   three-fifths">
        Game #{{game.id}}
        Players: {{players.length}}/{{game.maxPlayers}}
        Tiles remaining: {{slots.available}}/{{slots.total}}

        <div class="game-svg"></div>

        <form ng-submit="submitWord()">
            <label for="word">Type any available word in the grid:</label>
            <input id="word" ng-model="word" type="text" placeholder="" class="text-input text-input--full" />
        </form>
    </div>

    <div class="g   two-fifths">
        <h2>Players</h2>
        <ol>
            <li ng-repeat="player in players | orderBy:playerScore:true">
                <img ng-src="{{playerAvatar(player)}}" width="32" height="32" />
                {{player.username}} - {{playerScore(player)}}
            </li>
        </ol>

        <h2>Notifications</h2>
        <ul class="list list--plain">
            <li ng-repeat="message in messages">
                <img ng-src="{{playerAvatar(message.user)}}" width="20" height="20" />
                claimed
                &lsquo;{{message.word.text}}&rsquo;
                for {{message.points}} points
                <span ng-show="message.combo > 1">(&times;{{message.combo}})</span>
            </li>
        </ul>
    </div>
</div>
