<div ng-show="game" class=gw>
    <div class="g   two-thirds">
        Welcome to game ID {{game.id}}
        Players: {{players.length}}/{{game.maxPlayers}}
        Tiles remaining: {{slots.available}}/{{slots.total}}

        <div class="game-svg"></div>
    </div>

    <div class="g   one-third">
        <h2>Players</h2>
        <ol>
            <li ng-repeat="player in players | orderBy:playerScore:true">
                <img ng-src="{{playerAvatar(player)}}" width="32" height="32" />
                {{player.username}} - {{playerScore(player)}}
            </li>
        </ol>

        <h2>Notifications</h2>
        <ul>
            <li ng-repeat="message in messages">
                {{message}}
            </li>
        </ul>
    </div>

    <div class="g   two-thirds">
        <form ng-submit="submitWord()">
            <label for="word">Type any available word in the grid:</label>
            <input id="word" ng-model="word" type="text" placeholder="" class="text-input text-input--full" />
        </form>
    </div>
</div>
