<div ng-show="game">
    Welcome to game ID {{game.id}}
    Players: {{players.length}}/{{game.maxPlayers}}
    Tiles remaining: 100/100

    <div class="game-svg"></div>

    <ul>
        <li ng-repeat="player in players | orderBy:playerScore:true">
            <img ng-src="{{playerAvatar(player)}}" width="32" height="32" />
            {{player.username}} - {{playerScore(player)}}
        </li>
    </ul>

    <!-- ticker messages; game notifications basically -->
    <ul>
        <li ng-repeat="message in messages">
            {{message}}
        </li>
    </ul>

    <form ng-submit="submitWord()">
        <input ng-model="word" type="text" placeholder="Type a word..." />
    </form>
</div>
