<h1>Welcome to the lobby, {{user.username}}!</h1>
<div class=gw>
    <div ng-controller="ChatController" class="g    three-fifths">
        <div class="chat">
            <ul class="chat__container  secret-list">
                <li class="chat__message" ng-repeat="message in messages">
                    <time class="chat__timestamp">{{format(message.created)}}</time>
                    <span class="chat__author">{{message.user.username}}</span>
                    <span class="chat__text">{{message.text}}</span>
                </li>
            </ul>
        </div>

        <form ng-submit="send()" class="media">
            <img ng-src="{{getAvatar(user)}}" alt="" class="media__img" width="24" height="24" />
            <input id="chat-text" ng-model="text" type="text" class="text-input media__body media__body--input" placeholder="enter your message&hellip;" />
        </form>
    </div>

    <div ng-controller="LobbyController" class="g   two-fifths">
        <h2 class="gamma">Active Games</h2>
        <ul>
            <li ng-repeat="game in games">
                #{{game.id}}
                Players: {{game.users.length}} / {{game.maxPlayers}}
                <span ng-hide="game.started">
                    <a href="" ng-click="join(game)">join</a>
                </span>
                <span ng-show="game.started">
                    Started at: {{game.started}}
                </span>
            </li>
        </ul>
    </div>
</div>
