Hi {{user.username}}

<div class=gw>
    <div ng-controller="ChatController" class="g    one-half">
        <h2>Chat</h2>
        <ul>
            <li ng-repeat="message in messages">
                {{message}}
            </li>
        </ul>
        <form ng-submit="send()">
            <input ng-model="text" type="text" class="text-input    text-input--full" />
        </form>
    </div>

    <div ng-controller="LobbyController" class="g   one-half">
        <h2>Active Games</h2>
        <ul>
            <li ng-repeat="game in games">
                #{{game.id}}
                Players: {{game.users.length}} / {{game.maxPlayers}}
                <span ng-hide="game.started">
                    <a href="" ng-click="join(game)">join</a>
                </span>
                <span ng-show="game.started">
                    Started at: {{game.started}}
                </span>
            </li>
        </ul>
    </div>
</div>
